img {
  width: 150px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


header ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.header-top ul {
  color: #76bcbd; 
  /* 項目間にパイプを追加します */

}

.header-top ul li {
  cursor: pointer;
}

.menu {
  background-color: #76bcbd;
  color: white;
  font-weight: bold;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.menu li {
  padding: 0 30px;
}

.menu li:hover {
  background-color: #66a6a9;
}

h4 {
  padding: 0px 0 0 100px;
  font-weight: normal;
  color:#5d5d5d;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "游ゴシック体";
}

main h1 {
  color: #76bcbd;
  text-align: center;
  font-weight: normal;
  height: 60px;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin:0 25%;
}

.form-field {
  width: 49%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  box-sizing: content-box;
}

.form-field h3 {
  font-weight: bold;
  color: black;
}

.form-field:nth-child(5) {
  width: 98%;
}

.form-field h3,
.form-field input {
  margin: 0;
  padding: 0;
}

.form-field input {
  padding: 10px 0;
  font-size: 18px;
  margin-left: 5px;
}

.date {
  font-weight:normal;
}

.required {
  color: red;
}


.memo {
  display: grid;
  box-sizing: border-box;
  justify-content: center ; 
}

.memo h3 {
  margin-bottom: 0; 
  justify-self: start;
  text-align: left;
}

.memo textarea {
  width: 200%; 
  padding: 5px 0 100px 5px; 
  font-size: 18px;
  margin: 0 0 50px 5px;
  resize:vertical;
}

main button {
  display: block;
  width: 200px;
  height: 40px;
  margin: 15px auto;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  color: #76bcbd;
  background-color: white;
}

main button:first-child {
  border: 2px solid #76bcbd; 
  color: #76bcbd;
  width:400px;
  text-align: center;
  margin-top: 50px;
}

main button:nth-child(2) {
  background-color: #76bcbd;
  color: white;
}

main div:last-child button:first-child {
  background-color: #76bcbd;
  color: white;
}

main div:last-child button:last-child {
  background-color: gray;
  color: white;
  width:400px;
}


footer {
  background-color: gray;  /* グレー */
  color: white;  /* テキストは黒でなければならない */
  padding: 20px;
  display: flex;
  flex-direction: column;  /* 縦方向に配置します */
  align-items: center;
}

footer h2 {
  font-weight: bold;
  margin-bottom: 10px;
}

footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;  /* 項目が多いため、必要に応じて折り返します */
  justify-content: center;  /* 項目を中心に配置します */
}

footer ul li {
  margin: 0 5px;  /* 項目間にスペースを追加します */
}

footer ul li:not(:last-child)::after {
  content: "|";  /* 項目間にパイプを追加します */
  margin-left: 5px;
}

footer ul li:hover {
  color: blue;
}

footer .footer-bottom {
  background-color: black;
  color: white;
  font-weight: bold;
  margin-top: 30px;  /* 上部との間にスペースを追加します */
  width: 100%;
  display: flex;
  justify-content: space-around;  /* 項目を均等に分散します */
  padding: 20px 0;  
}